@import "normalize.css";

$secondary-color: #dedede;

body {
  transition: all 0.5s linear;
  margin: auto;
}
.night {
  color: #fff;
  background-color: #000;
}
.full {
  width: 100%;
  height: 100%;
  margin: 0;
}
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Tragic Marker", cursive;
  font-size: 1.5em;
}
.subtitle {
  font-style: italic;
}
.color-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 60px;
  height: 20px;
  line-height: 20px;
  background: linear-gradient(90deg, #ffc21b 50%, #1300bd 50%);
  border-radius: 15px;
  color: #000;
  cursor: pointer;
  span {
    display: inline-block;
    transform: translate(0);
    transition: all 0.2s linear;
  }
}
.color-toggle.night span {
  transform: translate(40px);
  transition: all 0.2s linear;
}
.avatars {
  display: inline-block;
  background-color: $secondary-color;
  img {
    max-width: 45%;
    height: auto;
  }
}
.links {
  color: #fff;
  padding: 15px;
  a {
    border-radius: 5px;
    background: #333;
    display: block;
    text-decoration: none;
    color: inherit;
    padding: 5px 15px;
    margin: 5px 0;
    line-height: 2.5em;
  }
}
footer {
  background-color: $secondary-color;
  padding: 15px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
}
/*== Text utilities ==*/
.text-center {
  text-align: center;
}
/*== Block utilities ==*/
.block-center {
  position: relative;
  margin: auto;
}
.contained {
  max-width: 400px;
}
/*== Color scheme detection ==*/
// @media (prefers-color-scheme: dark) {
//   body {
//     color: #fff;
//     background-color: #000;
//   }
// }
/*== Imports ==*/
@font-face {
  font-family: "Tragic Marker";
  src:
    url("../assets/fonts/subset-TragicMarker-Regular.woff2") format("woff2"),
    url("../assets/fonts/subset-TragicMarker-Regular.woff") format("woff"),
    url("../assets/fonts/subset-TragicMarker-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
